#sidebar-menu {
  background: #6cb2b2;
  overflow: hidden;
  position: absolute;
  width: 55px;
  font-size: 14px;
  font-weight: 900px;
  color:#abe2ff;
}

.column {
  float: left;
  padding: 10px;
}

.sidebar-menu {
  background: #FFF;
  height: 100%;
  outline: 1px solid #ccc;
  width: 4%;
}

.middle {
  background: #E4F0AB;
  width: 60%;
}

.right {
  background: #C4ABF0;
  width: 36%;
}

.header {
  min-height: 50vh;
  align-self: start;
  color: #000;
}

.nav {
  height: 70vh;
  width: 20vh;
  border-radius: 10px;
  background: rgb(39, 103, 124);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.calendar {
  height: 70vh;
  width: 70vh;
  border-radius: 10px;
  background: whitesmoke;
  color: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.dayview {
  height: 70vh;
  width: 70vh;
  border-radius: 10px;
  background: whitesmoke;
  color: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
