.home {
  min-height: 100vh;
  background: rgb(54, 145, 175);
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header {
  min-height: 50vh;
  align-self: start;
}

.nav {
  height: 70vh;
  width: 20vh;
  border-radius: 10px;
  background: rgb(39, 103, 124);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.calendar {
  height: 70vh;
  width: 70vh;
  border-radius: 10px;
  background: whitesmoke;
  color: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.dayview {
  height: 70vh;
  width: 70vh;
  border-radius: 10px;
  background: whitesmoke;
  color: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



